body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #eee;
  margin: 0;
}

h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
}

img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 20px;
}

p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
}


.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.caja {
  background-color: #4caf50;
  color: #fff;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 8px;
}

@media (max-width: 800px) {
 
  img {
    width: 60%;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
  }

  .caja {
    background-color: #ff5722;
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  p {
    font-size: 16px;
  }
}
